/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}


/*
 * Global CSS goes here
 */
html {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}
#app {
    color: #2c3e50;
    max-width: 800px;
    max-height: 600px;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center;
}
#app p {
    text-align: justify;
}
#loader {
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 90%;
}
#workbook {
    vertical-align: top;
    max-height: 90%;
    overflow-y: scroll;
}
